.banner{
    background-image: url('./../../img/preview-hero.jpg');
    background-attachment: fixed;
    /* width: 100%; */
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: 70% 70%;
    
}

.header{
    background-image: url('./../../img/preview-hero.jpg');
    background-attachment: fixed;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: 70% 70%;
}